@font-face {
  font-family: "NorseBold";
  src: url(fonts/Norsebold.woff2);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Roboto";
}
.image-section {
  flex: 0 0 30%;
  height: 100vh;
  
  background-image: url(images/halie-west-25xggax4bSA-unsplash\ \(1\).jpg);
  background-size: cover;
  background-position: top right;

  position: relative;
  z-index: 0;
}
.image-section__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  background-color: rgba(0, 0 , 0 , 0.4);
  color: #FFF;

  position: absolute;
  top: 20%;
  z-index: 1;

  padding: 1rem;
}
.image-section__text {
  font-family: NorseBold;
  font-size: 6rem;
  text-transform: uppercase;
}
.image-section__image {
  max-width: 100%;
  width: 6rem;
  height: auto;
}
.form-section {
  display: flex;
  flex-direction: column;

  flex: 1;
  background-color: #F6F6F6;
}
.form-section__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  padding-left: 2.5rem;
  max-width: 60%;

  font-size: 1.6rem;
  font-weight: 500;
}
.form__header-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}
.form-section__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  


  flex: .75 0 0;
  background-color: #FFF;
}
.form__row {
  display: flex;
  gap: 3.5rem;
}
.form__field{
  display: flex;
  flex-direction: column;

  width: 20%
}
label {
   text-transform: uppercase;
   font-size: .8rem;
   letter-spacing: .05rem;
   margin-bottom: .5rem;
}
input {
  padding: .5rem;
  border: 1px solid #E5E7EB;
}
h1 {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.form-section__footer {
  flex: 1 0 0;
  padding-left: 2.5rem;
}
button {
  background-color: #596D48;
  color: #FFF;
  padding: .7rem 1.8rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
}
a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}
